{"openapi":"3.0.1","info":{"title":"API 타이틀","description":"API Description","version":"v1.0.0"},"servers":[{"url":"http://j9c102.p.ssafy.io:8081","description":"Generated server url"}],"security":[{"jwtAuth":[]}],"tags":[{"name":"회원","description":"회원 관련 API"}],"paths":{"/api/v1/members/add-credit":{"put":{"tags":["member-controller"],"operationId":"addCredit","parameters":[{"name":"credit","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResult"}}}}}}},"/api/v1/record/":{"post":{"tags":["record-controller"],"summary":"전적 추가","description":"플레이어의 해당 경기 전적을 기록한다","operationId":"createRecord","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordCreateRequest"}}},"required":true},"responses":{"200":{"description":"전적 추가 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberCreateResponse"}}}},"401":{"description":"회원가입 실패(중복된 회원 존재)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/members/unequip-item":{"post":{"tags":["member-controller"],"summary":"아이템 장착 해제","description":"해당 멤버가 아이템을 장착 해제한다","operationId":"unequipItem","parameters":[{"name":"itemType","in":"query","required":true,"schema":{"type":"string","enum":["CAR","AVATAR"]}}],"responses":{"400":{"description":"아이템 장착 해제 실패","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"아이템 장착 해제 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberInfoResponse"}}}}}}},"/api/v1/members/signup":{"post":{"tags":["member-controller"],"summary":"회원가입","description":"회원가입을 한다.","operationId":"signUp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberCreateRequest"}}},"required":true},"responses":{"200":{"description":"회원가입 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberCreateResponse"}}}},"401":{"description":"회원가입 실패(중복된 회원 존재)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/members/login":{"post":{"tags":["member-controller"],"summary":"로그인","description":"로그인을 한다.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberLoginRequest"}}},"required":true},"responses":{"200":{"description":"로그인 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenDto"}}}},"401":{"description":"로그인 실패","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[]}},"/api/v1/members/get-item":{"post":{"tags":["member-controller"],"summary":"아이템 획득","description":"해당 멤버에 아이템을 추가한다.","operationId":"createMemberToItem","responses":{"200":{"description":"아이템 획득 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberInfoResponse"}}}},"400":{"description":"아이템 획득 실패","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/members/get-avatar":{"post":{"tags":["member-controller"],"summary":"아바타 획득","description":"해당 멤버에 아바타를 추가한다.","operationId":"createMemberToAvatar","responses":{"400":{"description":"아바타 획득 실패","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"아바타 획득 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberInfoResponse"}}}}}}},"/api/v1/members/equip-item":{"post":{"tags":["member-controller"],"summary":"아이템 장착","description":"해당 멤버가 아이템을 장착한다","operationId":"equipItem","parameters":[{"name":"itemName","in":"query","required":true,"schema":{"type":"string"}},{"name":"itemType","in":"query","required":true,"schema":{"type":"string","enum":["CAR","AVATAR"]}}],"responses":{"400":{"description":"아이템 장착 실패","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"아이템 장착 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberInfoResponse"}}}}}}},"/api/v1/members/equip-avatar":{"post":{"tags":["member-controller"],"summary":"아바타 장착","description":"해당 멤버가 아바타를 장착한다","operationId":"equipAvatar","parameters":[{"name":"avatarName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"아바타 장착 실패","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"아바타 장착 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberInfoResponse"}}}}}}},"/api/v1/members/inventory":{"get":{"tags":["member-controller"],"summary":"인벤토리 조회","description":"해당 멤버의 인벤토리를 조회한다","operationId":"getInventory","responses":{"400":{"description":"인벤토리 조회 실패","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"인벤토리 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberInfoResponse"}}}}}}},"/api/v1/members/info":{"get":{"tags":["member-controller"],"summary":"회원정보","description":"회원정보를 조회한다.","operationId":"getMemberInfo","parameters":[{"name":"username","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"유저 정보 조회 실패","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"유저 정보 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberInfoResponse"}}}}}}},"/api/v1/members/current-item":{"get":{"tags":["member-controller"],"summary":"현재 장비한 아이템 조회","description":"해당 멤버의 현재 아이템을 조회한다","operationId":"getCurrentItem","responses":{"400":{"description":"현재 아이템 조회 실패","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"현재 아이템 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberInfoResponse"}}}}}}},"/api/v1/members/current-avatar":{"get":{"tags":["member-controller"],"summary":"현재 아바타 조회","description":"해당 멤버의 현재 아바타를 조회한다","operationId":"getCurrentAvatar","responses":{"200":{"description":"현재 아바타 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberInfoResponse"}}}},"400":{"description":"현재 아바타 조회 실패","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/items/":{"get":{"tags":["item-controller"],"summary":"아이템 목록 조회","operationId":"getTotalItems","responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiDataListItemResponse"}}}},"400":{"description":"실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiDataListItemResponse"}}}}}}},"/api/v1/avatars/":{"get":{"tags":["avatar-controller"],"summary":"아바타 목록 조회","operationId":"getTotalItems_1","responses":{"200":{"description":"성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResult"}}}},"400":{"description":"실패","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResult"}}}}}}}},"components":{"schemas":{"ApiResult":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"}}},"RecordCreateRequest":{"type":"object","properties":{"username":{"type":"string"},"win":{"type":"boolean"},"mvp":{"type":"boolean"}}},"MemberCreateResponse":{"type":"object","properties":{"username":{"type":"string"},"nickname":{"type":"string"}}},"ContentDisposition":{"type":"object","properties":{"type":{"type":"string"},"name":{"type":"string"},"filename":{"type":"string"},"charset":{"type":"string"},"size":{"type":"integer","format":"int64","deprecated":true},"creationDate":{"type":"string","format":"date-time","deprecated":true},"modificationDate":{"type":"string","format":"date-time","deprecated":true},"readDate":{"type":"string","format":"date-time","deprecated":true},"inline":{"type":"boolean"},"attachment":{"type":"boolean"},"formData":{"type":"boolean"}}},"ErrorResponse":{"type":"object","properties":{"body":{"$ref":"#/components/schemas/ProblemDetail"},"headers":{"type":"object","properties":{"empty":{"type":"boolean"},"location":{"type":"string","format":"uri"},"host":{"type":"object","properties":{"address":{"type":"object","properties":{"canonicalHostName":{"type":"string"},"hostAddress":{"type":"string"},"address":{"type":"array","items":{"type":"string","format":"byte"}},"hostName":{"type":"string"},"linkLocalAddress":{"type":"boolean"},"multicastAddress":{"type":"boolean"},"anyLocalAddress":{"type":"boolean"},"loopbackAddress":{"type":"boolean"},"siteLocalAddress":{"type":"boolean"},"mcglobal":{"type":"boolean"},"mcnodeLocal":{"type":"boolean"},"mclinkLocal":{"type":"boolean"},"mcsiteLocal":{"type":"boolean"},"mcorgLocal":{"type":"boolean"}}},"port":{"type":"integer","format":"int32"},"unresolved":{"type":"boolean"},"hostName":{"type":"string"},"hostString":{"type":"string"}}},"all":{"type":"object","additionalProperties":{"type":"string"},"writeOnly":true},"lastModified":{"type":"integer","format":"int64"},"contentLength":{"type":"integer","format":"int64"},"date":{"type":"integer","format":"int64"},"contentDisposition":{"$ref":"#/components/schemas/ContentDisposition"},"acceptCharset":{"type":"array","items":{"type":"string"}},"contentType":{"$ref":"#/components/schemas/MediaType"},"ifModifiedSince":{"type":"integer","format":"int64"},"connection":{"type":"array","items":{"type":"string"}},"origin":{"type":"string"},"allow":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/HttpMethod"}},"cacheControl":{"type":"string"},"range":{"type":"array","items":{"$ref":"#/components/schemas/HttpRange"}},"accept":{"type":"array","items":{"$ref":"#/components/schemas/MediaType"}},"contentLanguage":{"type":"object","properties":{"language":{"type":"string"},"script":{"type":"string"},"variant":{"type":"string"},"displayName":{"type":"string"},"country":{"type":"string"},"unicodeLocaleAttributes":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"unicodeLocaleKeys":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"displayLanguage":{"type":"string"},"displayScript":{"type":"string"},"displayCountry":{"type":"string"},"displayVariant":{"type":"string"},"extensionKeys":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"iso3Language":{"type":"string"},"iso3Country":{"type":"string"}}},"accessControlAllowOrigin":{"type":"string"},"accessControlAllowMethods":{"type":"array","items":{"$ref":"#/components/schemas/HttpMethod"}},"accessControlAllowHeaders":{"type":"array","items":{"type":"string"}},"accessControlExposeHeaders":{"type":"array","items":{"type":"string"}},"accessControlAllowCredentials":{"type":"boolean"},"accessControlMaxAge":{"type":"integer","format":"int64"},"accessControlRequestMethod":{"$ref":"#/components/schemas/HttpMethod"},"accessControlRequestHeaders":{"type":"array","items":{"type":"string"}},"etag":{"type":"string"},"acceptPatch":{"type":"array","items":{"$ref":"#/components/schemas/MediaType"}},"bearerAuth":{"type":"string","writeOnly":true},"expires":{"type":"integer","format":"int64"},"ifMatch":{"type":"array","items":{"type":"string"}},"ifNoneMatch":{"type":"array","items":{"type":"string"}},"ifUnmodifiedSince":{"type":"integer","format":"int64"},"acceptLanguageAsLocales":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string"},"script":{"type":"string"},"variant":{"type":"string"},"displayName":{"type":"string"},"country":{"type":"string"},"unicodeLocaleAttributes":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"unicodeLocaleKeys":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"displayLanguage":{"type":"string"},"displayScript":{"type":"string"},"displayCountry":{"type":"string"},"displayVariant":{"type":"string"},"extensionKeys":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"iso3Language":{"type":"string"},"iso3Country":{"type":"string"}}}},"acceptLanguage":{"type":"array","items":{"type":"object","properties":{"range":{"type":"string"},"weight":{"type":"number","format":"double"}}}},"basicAuth":{"type":"string","writeOnly":true},"pragma":{"type":"string"},"upgrade":{"type":"string"},"vary":{"type":"array","items":{"type":"string"}}},"additionalProperties":{"type":"array","items":{"type":"string"}}},"titleMessageCode":{"type":"string"},"statusCode":{"$ref":"#/components/schemas/HttpStatusCode"},"detailMessageCode":{"type":"string"},"detailMessageArguments":{"type":"array","items":{"type":"object"}}}},"HttpMethod":{"type":"object"},"HttpRange":{"type":"object"},"HttpStatusCode":{"type":"object","properties":{"error":{"type":"boolean"},"is4xxClientError":{"type":"boolean"},"is5xxServerError":{"type":"boolean"},"is1xxInformational":{"type":"boolean"},"is2xxSuccessful":{"type":"boolean"},"is3xxRedirection":{"type":"boolean"}}},"MediaType":{"type":"object","properties":{"type":{"type":"string"},"subtype":{"type":"string"},"parameters":{"type":"object","additionalProperties":{"type":"string"}},"qualityValue":{"type":"number","format":"double"},"wildcardType":{"type":"boolean"},"wildcardSubtype":{"type":"boolean"},"subtypeSuffix":{"type":"string"},"concrete":{"type":"boolean"},"charset":{"type":"string"}}},"ProblemDetail":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer","format":"int32"},"detail":{"type":"string"},"instance":{"type":"string","format":"uri"},"properties":{"type":"object","additionalProperties":{"type":"object"}}}},"MemberInfoResponse":{"type":"object","properties":{"username":{"type":"string"},"nickname":{"type":"string"},"credit":{"type":"integer","format":"int32"}}},"MemberCreateRequest":{"type":"object","properties":{"username":{"type":"string","description":"유저 아이디","example":"qwe"},"password":{"type":"string","description":"유저 비밀번호","example":"qwe!"},"nickname":{"type":"string","description":"유저 닉네임","nullable":true,"example":"testusernickname"}},"description":"회원가입 요청"},"MemberLoginRequest":{"type":"object","properties":{"username":{"type":"string","description":"유저 아이디","example":"qwe"},"password":{"type":"string","description":"유저 비밀번호","example":"qwe!"}}},"TokenDto":{"type":"object","properties":{"grantType":{"type":"string"},"accessToken":{"type":"string"},"accessTokenExpiresIn":{"type":"integer","format":"int64"},"refreshToken":{"type":"string"}}},"ApiDataListItemResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ItemResponse"}}}},"ItemResponse":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string","enum":["CAR","AVATAR"]},"price":{"type":"integer","format":"int32"}}}},"securitySchemes":{"jwtAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}